<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<style>
    a:link {color: black;text-decoration: none;}
    a:visited {color: black;text-decoration: none;}
    a:hover {color: black;text-decoration: none;}
    a:active {color: black;text-decoration: none;}
</style>

<!-- Logo && Fname / Lname | Department -->
<br>
<table border="0" cellspacing="0" cellpadding="0" style=" font-family:Arial, Verdana, sans-serif, Tahoma, 'Times New Roman', 'Trebuchet MS'; font-size:12px; color:#434343; line-height:16px;">
    <tbody>
        <tr
            <td align="left" valign="middle" style="padding-left:17px;" nowrap="nowrap">
                <span style="color:#8caf25; font-size:15px; line-height:20px"><strong>
                {uname}
                </strong></span>
            </td>
        </tr>
    </tbody>    

    </tbody>
</table>


</body>
</html>